{% extends "base.html" %}

{% load static %}
{% block title %}
    Welcome to GatorTech!
{% endblock %}

{% block content %}
<section id="banner" class="wow fadeInUp img.flip hero-image">
    <div class="container">
        <div class="row">
            <center>
                <div class="col-md-12 col-sm-12">
                    <div class="block">
                        <center><img src="{% static 'images/gatortechlogo.png' %}" width="300px" height="115px" class="img-responsive"></center>
                        <p>
                            {{ header.subtitle|linebreaks }}
                        </p>
                        <p>
                            <a href="https://goo.gl/forms/wFyTzpYTebOi0kIh2" class="btn btn-default btn-apple" style="border-radius: 20px;">
                                <span style="padding: 20px; font-size: 20px;">
                                    <i class="fa fa-users"></i> Check In
                                </span>
                            </a>
                        </p>
                        <ul class="download-btn">
                            {% for button in buttons %}
                                <li>
                                    <a href="{{ button.button_link }}" class="btn btn-default btn-apple"><i class="{{ button.icon }}"></i>{{ button.button_text }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </center>
        </div>
    </div>
</section>
<section id="service">
    <div class="container">
        <div class="service-wrapper">
            <div class="row">
                {% for blurb in blurbs %}
                    <div class="col-md-3 col-sm-6">
                        <div class="block wow fadeInRight">
                            <div class="icon">
                                <i class="{{ blurb.icon }}"></i>
                            </div>
                            <h3>{{ blurb.blurb_title }}</h3>
                            <p>{{ blurb.blurb_text }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 wow fadeInRight">
                <h2 class="title">Modules for this semester</h2>
                {% for module in modules %}
                    <div class="feature-item">
                        <div class="media">
                            <div class="pull-left icon" href="#">
                                <i class="{{ module.module_icon }}"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ module.module_title }}</h4>
                                <p>{{ module.module_description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-6 col-sm-6 wow fadeInLeft">
                <div class="block">
                    <img class="img-responsive" src="{% static 'images/Modules.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="utility">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 wow fadeInUp">
                <img class="img-responsive" src="{% static 'images/Slack.png' %}" alt="">
            </div>
            <div class="col-md-6 col-sm-6 wow fadeInDown">
                <div class="block">
                    <h2>Like Slack?</h2>
                    <p>
                        We have a Slack team! We use it to post interesting tech articles, ideas, and work on projects together. This is also where we post updates about GatorTech. Click below to fill out a quick form so we can add you to Slack and our listserv!
                    </p>
                    <ul class="download-btn">
                        <li>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdptv4JsEsyuMxxngayZaTry-TFBzJ36WZBmGjd23KJFNv5VQ/viewform" target="_blank" class="btn btn-default btn-apple"><i class="fa fa-slack"></i> Slack/Listserv</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

