{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block title %}
    {{ event.event_title }} - GatorTech
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a href="{% url 'events:event_index' %}" class="list-group-item">Upcoming</a>
                <a href="{% url 'events:event_archive' %}" class="list-group-item">Past Events</a>
            </div>
        </div>
        <div class="col-md-10">
            <h1>{{ event.event_title }}</h1>
            <h5>
                {{ event.event_date|date:"D M j f a" }} at <a href="https://www.google.com/maps?q={{ event.event_location_address }}">
                    {{ event.event_location_name }}
                </a>
            </h5>
            <p>{{ event.event_description|markdown }}</p>
        </div>
{% endblock %}