{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block title %}
    Upcoming Events - GatorTech
{% endblock %}

{% block content %}
<section id="resource" style="padding: 70px 0 40px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInLeft" align="center">
                <h2 class="title">Events</h2>
                <p>See our current and past vents </p>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInRight">
                {% if event_list %}
                    {% for event in event_list %}
                        <div>
                            <div>
                                <a href="{{ event.event_facebook_url }}" target="_blank"><h4>{{ event.event_title }}</h4></a>
                                <h6>
                                    {{ event.event_date|date:"D M j f a" }} at {{ event.event_location_name }}
                                </h6>
                                <p>{{ event.event_description|markdown|truncatechars:250 }}</p>
                            </div>
                        </div>
                        <hr />
                    {% endfor %}
                {% else %}
                    <p>No upcoming events. Check back later!</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 wow fadeInUp">
                <a href="{% url 'events:event_archive' %}">See our previous events</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}