{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block title %}
    Calendar - GatorTech
{% endblock %}

{% block content %}
<section id="resource" style="padding: 70px 0 40px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInLeft" align="center">
                <h2 class="title">Events</h2>
                <p>See our current and past events </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <iframe src="https://calendar.google.com/calendar/embed?src=1h82psfcds6dfp32pc1tdgalbg%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</section>
{% endblock %}
