{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block title %}
    Past Events - GatorTech
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2>Events</h2>
        </div>
        <div class="col-md-6 text-md-right">
            <a href="{% url 'events:event_index' %}" class="btn btn-primary-outline">Upcoming Events</a>
            <a href="{% url 'events:event_archive' %}" class="btn btn-primary">Past Events</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12">
            {% if old_event_list %}
                {% for event in old_event_list %}
                    <div class="card">
                        <div class="card-block">
                            <a href="{% url 'events:event_detail' event.slug %}"><h4 class="card-title">{{ event.event_title }}</h4></a>
                            <h6 class="card-subtitle">
                                {{ event.event_date|date:"D M j f a" }} at <a href="https://www.google.com/maps?q={{ event.event_location_address }}" target="_blank">
                                    {{ event.event_location_name }}
                                </a>
                            </h6>
                            <p class="card-text">{{ event.event_description|markdown|truncatechars:250 }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No events</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
