{% extends 'base.html' %}

{% block title %}
    Past GatorTech Events
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="{% url 'events:event_index' %}" class="list-group-item">Upcoming Events</a>
                <a href="{% url 'events:event_archive' %}" class="list-group-item active">Past Events</a>
            </div>
        </div>
        <div class="col-md-9">
            {% if old_event_list %}
                {% for event in old_event_list %}
                    <div class="card">
                        <div class="card-block">
                            <a href="{% url 'events:event_detail' event.slug %}"><h4 class="card-title">{{ event.event_title }}</h4></a>
                            <h6 class="card-subtitle">
                                {{ event.event_date|date:"D M j f a" }} at <a href="https://www.google.com/maps?q={{ event.event_location_address }}" target="_blank">
                                    {{ event.event_location_name }}
                                </a>
                            </h6>
                            <p class="card-text">{{ event.event_description|truncatechars:140 }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No events</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
