{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block title %}
    Old Events - GatorTech
{% endblock %}

{% block content %}
    <div class="container content-container">
        <div class="row">
            <div class="col-md-6">
                <h2>Calendar</h2>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="{% url 'events:event_index' %}" class="btn btn-primary-outline">Upcoming Events</a>
                <a href="{% url 'events:event_archive' %}" class="btn btn-primary">Past Events</a>
                {% if perms.events.add_event %}
                    <a href="{% url 'admin:events_event_add' %}" class="btn btn-info">Create an Event</a>
                {% endif %}
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-2">
                <h5>Filter Meetings</h5>
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a class="nav-link" href="{% url 'events:event_archive' %}">Clear Filter</a>
                    </li>
                    {% for event_tag in event_tags %}
                        <li class="nav-item">
                            {% if event_tag.id == tag_id %}
                                <a class="nav-link active" href="{% url 'events:archive_event_filter' event_tag.id %}">{{ event_tag.event_tag }}</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'events:archive_event_filter' event_tag.id %}">{{ event_tag.event_tag }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-10">
                {% if filtered_event_list %}
                    {% for event in filtered_event_list %}
                        <div class="card">
                            <div class="card-block">
                                <a href="{% url 'events:event_detail' event.slug %}"><h4 class="card-title">{{ event.event_title }}</h4></a>
                                <h6 class="card-subtitle">
                                    {{ event.event_date|date:"D M j f a" }} at <a href="https://www.google.com/maps?q={{ event.event_location_address }}" target="_blank">
                                    {{ event.event_location_name }}
                                </a>
                                    | {{ event.event_tag }}
                                </h6>
                                <p class="card-text">{{ event.event_description|markdown|truncatechars:250 }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No events</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
