{% extends "base.html" %}

{% load staticfiles %}
{% block title %}
    Welcome to GatorTech!
{% endblock %}

{% block content %}
<section id="banner" class="wow fadeInUp img.flip hero-image">
    <div class="container">
        <div class="row">
            <center>
                <div class="col-md-12 col-sm-12">
                    <div class="block">
                        <center><img src="{% static 'images/gatortechlogo.png' %}" width="300px" height="115px" class="img-responsive"></center>
                        <p>
                            We meet every Tuesday in Heavener 270 from 6:30-7:30 PM to learn about tech.
                            <br>
                            Come join us!
                        </p>
                        <ul class="download-btn">
                            {% if latest_event %}
                                <li>
                                    <a href="{{ latest_event.event_facebook_url }}" class="btn btn-default btn-apple" target="_blank"><i class="fa fa-facebook"></i>RSVP to our latest event!</a>
                                </li>
                            {% endif %}
                                <li>
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdptv4JsEsyuMxxngayZaTry-TFBzJ36WZBmGjd23KJFNv5VQ/viewform" class="btn btn-default btn-apple"><i class="fa fa-paper-plane"></i>Students, connect with us!</a>
                                </li>
                                <li>
                                    <a href="mailto:robertdcamp@ufl.edu?Subject=Recruitment%20with%20GatorTech" class="btn btn-default btn-apple"><i class="fa fa-pencil"></i>Recruiters, email us!</a>
                                </li>
                        </ul>
                    </div>
                </div>
            </center>
        </div>
    </div>
</section>
<section id="service">
    <div class="container">
        <div class="service-wrapper">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay="1s">
                        <div class="icon">
                           <i class="fa fa-users"></i>
                        </div>
                        <h3>Learn Collaboratively</h3>
                        <p>Learning about technology can be scary on your own. Having friends interested in the same space as you can make it a little easier.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay="1.3s">
                        <div class="icon">
                            <i class="fa  fa-paper-plane"></i>
                        </div>
                        <h3>Explore Opportunities</h3>
                        <p>Hackathon? Check. Info sessions? Check. Teach Kids? Check. We find opportunities in tech so you don't have to.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay="1.6s">
                        <div class="icon">
                            <i class="fa  fa-file-text"></i>
                        </div>
                        <h3>Work On Projects</h3>
                        <p>Want to learn while adding to your skill set? Our members are constantly working on projects and we even host workshops for you to learn by creating.</p>
                    </div>
                </div>
                 <div class="col-md-3 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay="1.9s">
                        <div class="icon">
                            <i class="fa  fa-laptop"></i>
                        </div>
                        <h3>Meet Recruiters</h3>
                        <p>We’re all looking for jobs. We bring recruiters to you with relevant content and industry experience so you can learn, ask questions, and network.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay=".8s">
                <h2 class="title">Modules for this semester</h2>
                <div class="feature-item">
                    <div class="media">
                        <div class="pull-left icon" href="#">
                            <i class="fa fa-pencil-square-o"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Rapid Fire Month</h4>
                            <p>We're trying something a little different to start the semester. For the first four weeks, we're going to be talking about a new topic each week. Whether it's with recruiters, or just us, we'll be discussing popular trends and ideas in tech. <strong>This module begins on September 13th and ends on 27th.</strong></p>
                        </div>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="media">
                        <div class="pull-left icon" href="#">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Future of Technology</h4>
                            <p>Technology is always evolving. In this mod we're going to learn about what that evolution looks like. It can be the Internet of Things, space exploration through companies like Space X/Virgin Galactic, or even virtual/augmented reality. <strong>This module begins on October 4th and ends on the 18th.</strong></p>
                        </div>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="media">
                        <div class="pull-left icon" href="#">
                            <i class="fa fa-recycle"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Agile Methodology</h4>
                            <p>In software development everyone would agree on one thing: the switch to agile is happening with or without you. Most companies have either already developed the agile methodology or are currently transitioning. We'll go over this and give you an idea of how agile works. <strong>This module begins on November 1st and ends on the 15th.</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay=".8s">
                <div class="block">
                    <img class="img-responsive" src="{% static 'images/Modules.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="utility">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-delay=".8s">
                <img class="img-responsive" src="{% static 'images/Slack.png' %}" alt="">
            </div>
            <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay=".8s">
                <div class="block">
                    <h2>Like Slack?</h2>
                    <p>
                        We have a Slack team! We use it to post interesting tech articles, ideas, and work on projects together. This is also where we post updates about GatorTech. Click below to fill out a quick form so we can add you to Slack and our listserv!
                    </p>
                    <ul class="download-btn">
                        <li>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdptv4JsEsyuMxxngayZaTry-TFBzJ36WZBmGjd23KJFNv5VQ/viewform" target="_blank" class="btn btn-default btn-apple"><i class="fa fa-slack"></i> Slack/Listserv</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

