{% extends "base.html" %}

{% load staticfiles %}
{% block title %}
    Welcome to GatorTech!
{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Jumbotron Test</h1>
            <p class="lead">I bet an image background would look neat here</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% if latest_event %}
                    <p><a href="{% url 'events:event_detail' latest_event.slug %}">{{ latest_event.event_title }}</a></p>
                {% else %}
                    <p>No events</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Content here</p>
            </div>
            <div class="col-md-6">
                <p>Image here</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                Content here
            </div>
            <div class="col-md-6 col-md-pull-6">
                Image here
            </div>
        </div>
    </div>
{% endblock %}

