{% extends 'base.html' %}

{% block title %}
    Member Directory - GatorTech
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2>Member Directory</h2>
        </div>
        <div class="col-md-6 text-md-right">
            <a href="{% url 'profiles:profile_edit' request.user.id %}" class="btn btn-primary-outline">Edit Profile</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12">
            {% if request.user.is_authenticated %}
                <ul class="list-unstyled">
                    {% for user in user_list %}
                        <li><a href="{% url 'profiles:profile_index' user.id %}">{{ user.get_full_name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You do not have access to this page.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}