{% extends 'base.html' %}

{% block title %}
    Member Directory - GatorTech
{% endblock %}

{% block content %}
<div class="container content-container">
    <div class="row">
        <div class="col-md-6">
            <h2>Member Directory</h2>
        </div>
        <div class="col-md-6 text-md-right">
            <a href="{% url 'profiles:profile_edit' request.user.id %}" class="btn btn-primary-outline">Edit Profile</a>
        </div>
    </div>
    <hr />
    <div class="col-md-6">
        {% for profile in profiles %}
            <p>{{ profile }}</p>
        {% endfor %}
    </div>
{% endblock %}
