{% extends 'base.html' %}
{% load static %}

{% block title %}
    Recruiters - GatorTech
{% endblock %}

{% block content %}
<section id="banner" class="wow fadeInUp img.flip hero-image">
    <div class="container">
        <div class="row">
            <center>
            <div class="col-md-12 col-sm-12">
                <div class="block">
                    <center><img src="{% static 'images/gatortechlogo.png' %}" width="300px" height="115px" class="img-responsive"></center>
                    <p>
                        {{ header.subtitle|linebreaks }}
                    </p>

                    <ul class="download-btn">
                        <li>
                            <a href="mailto:{{header.email_address}}?Subject=Recruitment%20with%20GatorTech" class="btn btn-default btn-apple"><i class="fa fa-pencil"></i>Email us!</a>
                        </li>
                    </ul>

                </div>
            </div>
            </center>
        </div>
    </div>
</section>
<section id="service">
    <div class="container">
        <div class="service-wrapper">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Our Packages</h2>
                </div>
            </div>
            <div class="row">
                {% for level in levels %}
                    {% if forloop.first and forloop.last %}
                        <div class="col-md-12">
                    {% else %}
                        <div class="col-md-4 col-sm-12">
                    {% endif %}
                        <div class="block wow fadeInRight">
                            <div class="icon">
                            <i class="{{ level.icon }}"></i>
                            </div>
                            <h3>{{ level.title }} - ${{ level.price }}</h3><br>
                            <span>
                                {{ level.details|linebreaks }}
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section id="logos">
    <div class="container">
        <div class="service-wrapper">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Our Sponsors</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div id="logoCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for logo in logos %}
                                <li data-target="#logoCarousel" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active" {% endif %} style="border: 1px solid #000;"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner" style="margin: 0 auto;">
                            {% for logo in logos %}
                                {% if forloop.first %}
                                    <div class="item active">
                                {% else %}
                                    <div class="item">
                                {% endif %}
                                        <img src="/media/{{ logo.picture_name }}" class="center-block">
                                        <div class="carousel-caption">
                                            <h3 style="color: black;">{{ logo.logo_name }}</h3>
                                        </div>
                                    </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
