{% extends 'base.html' %}
{% load static %}

{% block title %}
    Recruiters - GatorTech
{% endblock %}

{% block content %}
<section id="banner" class="wow fadeInUp img.flip hero-image">
    <div class="container">
        <div class="row">
            <center>
            <div class="col-md-12 col-sm-12">
                <div class="block">
                    <center><img src="{% static 'images/gatortechlogo.png' %}" width="300px" height="115px" class="img-responsive"></center>
                    <p>
                        {{ header.subtitle }}
                    </p>

                    <ul class="download-btn">
                        <li>
                            <a href={{ "mailto:" + header.email + "?Subject=Recruitment%20with%20GatorTech" }} class="btn btn-default btn-apple"><i class="fa fa-pencil"></i>Email us!</a>
                        </li>
                    </ul>

                </div>
            </div>
            </center>
        </div>
    </div>
</section>
<section id="service">
    <div class="container">
        <div class="service-wrapper">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Our Packages</h2>
                </div>
            </div>
            <div class="row">
                {% for level in levels %}
                    <div class="col-md-4 col-sm-12">
                        <div class="block wow fadeInRight">
                            <div class="icon">
                            <i class="{{ level.icon }}"></i>
                            </div>
                            <h3>{{ level.title }} - ${{ level.price }}</h3><br>
                            <span>
                                {{ level.details }}
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section id="logos">
    <div class="container">
        <div class="service-wrapper">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Our Sponsors</h2>
                </div>
            </div>
            {% for logo in logos %}
                {% if forloop.first or forloop.counter0|divisibleby:2 %}
                    <div class="row">
                {% endif %}
                {% if forloop.last and forloop.counter0|divisibleby:2 %}
                    <div class="col-md-12">
                {% else %}
                    <div class="col-md-6">
                {% endif %}
                    <span class="text-center">
                        <a href="{{ logo.url_name }}">
                        <img src="/media/{{ logo.picture_name }}" class="img-responsive" style="margin: auto;">
                        <h3>{{ logo.logo_name }}</h3>
                        </a>
                    </span>
                    </div>
                {% if forloop.last or forloop.counter|divisibleby:2 %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
