
{% extends 'base.html' %}

{% block title %}
    Blog Archive - GatorTech
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a href="{% url 'blog:blog_index' %}" class="list-group-item">Current Posts</a>
                <a href="{% url 'blog:blog_archive' %}" class="list-group-item active">Archived Posts</a>
            </div>
        </div>
        <div class="col-md-10">
            {% for post in archive_posts %}
                <ul class="list-unstyled">
                    <li><a href="{% url 'blog:blog_post' post.slug %}">{{ post.blog_title }} by {{ post.blog_author.get_full_name }} on {{ post.post_date|date:"N j, Y" }}</a></li>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}