{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block title %}
    {{ blogpost.blog_title }} - GatorTech
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2>GatorTech Blog</h2>
        </div>
        <div class="col-md-6 text-md-right">
            <a href="{% url 'blog:blog_index' %}" class="btn btn-primary-outline">Latest Posts</a>
            <a href="{% url 'blog:blog_archive' %}" class="btn btn-primary-outline">Archive</a>
            <a href="{% url 'blog:blog_suggest' %}" class="btn btn-primary-outline">Suggest a Topic</a>
            {% if perms.blog.add_blogpost %}
                <a href="{% url 'admin:blog_blogpost_add' %}" class="btn btn-info">Write a post</a>
            {% endif %}
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ blogpost.blog_title }}</h1>
            <h4>Written by {{ blogpost.blog_author.get_full_name }} on {{ blogpost.post_date|date:"l, M j \a\t f a" }}</h4>
            <p>{{ blogpost.blog_content|markdown }}</p>
        </div>
    </div>

{% endblock %}