{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block title %}
    {{ blogpost.blog_title }} - GatorTech
{% endblock %}

{% block content %}
    <div class="container content-container">
        <div class="row">
            <div class="col-md-6">
                <h2>GatorTech Blog</h2>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="{% url 'blog:blog_index' %}" class="btn btn-primary-outline">Latest Posts</a>
                <a href="{% url 'blog:blog_archive' %}" class="btn btn-primary-outline">Archive</a>
                <a href="{% url 'blog:blog_suggest' %}" class="btn btn-primary-outline">Suggest a Topic</a>
                {% if perms.blog.add_blogpost %}
                    <a href="{% url 'admin:blog_blogpost_add' %}" class="btn btn-info">Write a Post</a>
                {% endif %}
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h2 class="card-title">{{ blogpost.blog_title }}</h2>
                        <h6 class="card-subtitle">Written by {{ blogpost.blog_author.get_full_name }} on {{ blogpost.post_date|date:"l, M j \a\t f a" }}</h6>
                        <p class="card-text">{{ blogpost.blog_content|markdown }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% if blogpost.comments.all %}
                    {% for comment in blogpost.comments.all  %}
                        <div class="card">
                            <div class="card-block">
                                {% if user.is_authenticated %}
                                    <h4 class="card-title"><a href="{% url 'profiles:profile_index' comment.comment_author.id %}">{{ comment.comment_author }}</a></h4>
                                {% else %}
                                    <h4 class="card-title">{{ comment.comment_author }}</h4>
                                {% endif %}
                                <h6 class="card-subtitle">on {{ comment.comment_date|date:"l, M j \a\t\ f a" }}</h6>
                                <p class="card-text">{{ comment.comment_content }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">No comments yet</h4>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Post a Comment</h4>
                            <form action="{% url 'blog:blog_comment' %}" method="post">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <textarea cols="40" id="id_comment_content" maxlength="512" name="comment_content" rows="5" class="form-control" placeholder="Write your comment here"></textarea>
                                </fieldset>
                                <input type="hidden" id="id_comment_blog_post" name="comment_blog_post" value="{{ blogpost.id }}" />
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}