{% extends 'base.html' %}
{% load static %}

{% block title %}
    Workshop - GatorTech
{% endblock %}

{% block content %}
<br><br><br>
    <a href="https://gatortechuf.com/static/images/gatortechlogo.png"><img src="https://gatortechuf.com/static/images/gatortechlogo.png"></a>
    <br>
    <a href="https://gatortechuf.com/static/images/hero.jpg"><img src="https://gatortechuf.com/static/images/hero.jpg" class="img-responsive"></a>
    <br>
    <a href="https://gatortechuf.com/static/images/Modules.png"><img src="https://gatortechuf.com/static/images/Modules.png"></a>
    <br>
    <a href="https://gatortechuf.com/static/images/Slack.png"><img src="https://gatortechuf.com/static/images/Slack.png"></a>
    <br>
{% endblock %}
