html
{
	font-family: sans-serif;
	ms-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
}
body
{
	margin: 0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary
{
	display: block;
}
audio,canvas,progress,video
{
	display: inline-block;
	vertical-align: baseline;
}
audio:not([controls])
{
	display: none;
	height: 0;
}
[hidden],template
{
	display: none;
}
a
{
	background: transparent;
}
a:active,a:hover
{
	outline: 0;
}
abbr[title]
{
	border-bottom: 1px dotted;
}
b,strong
{
	font-weight: bold;
}
dfn
{
	font-style: italic;
}
h1
{
	font-size: 2em;
	margin: 0.67em 0;
}
mark
{
	background: #ff0;
	color: #000;
}
small
{
	font-size: 80%;
}
sub,sup
{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup
{
	top: -0.5em;
}
sub
{
	bottom: -0.25em;
}
img
{
	border: 0;
}
svg:not(:root)
{
	overflow: hidden;
}
figure
{
	margin: 1em 40px;
}
hr
{
	box-sizing: content-box;
	height: 0;
	moz-box-sizing: content-box;
}
pre
{
	overflow: auto;
}
code,kbd,pre,samp
{
	font-family: monospace, monospace;
	font-size: 1em;
}
button,input,optgroup,select,textarea
{
	color: inherit;
	font: inherit;
	margin: 0;
}
button
{
	overflow: visible;
}
button,select
{
	text-transform: none;
}
button,html input[type="button"],input[type="reset"],input[type="submit"]
{
	cursor: pointer;
	webkit-appearance: button;
}
button[disabled],html input[disabled]
{
	cursor: default;
}
button::-moz-focus-inner,input::-moz-focus-inner
{
	border: 0;
	padding: 0;
}
input
{
	line-height: normal;
}
input[type="checkbox"],input[type="radio"]
{
	box-sizing: border-box;
	padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button
{
	height: auto;
}
input[type="search"]
{
	box-sizing: content-box;
	moz-box-sizing: content-box;
	webkit-appearance: textfield;
	webkit-box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration
{
	webkit-appearance: none;
}
fieldset
{
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend
{
	border: 0;
	padding: 0;
}
textarea
{
	overflow: auto;
}
optgroup
{
	font-weight: bold;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
td,th
{
	padding: 0;
}
button
{
	appearance: none;
	background: transparent;
	border: 0 none;
	moz-appearance: none;
	ms-appearance: none;
	padding: 0;
	webkit-appearance: none;
}
button,button:active,button:focus
{
	outline: none;
}
textarea
{
	appearance: none;
	moz-appearance: none;
	ms-appearance: none;
	webkit-appearance: none;
}
h1,h2,h3,h4,h5,h6
{
	line-height: 1;
	margin: 0;
}
::-webkit-input-placeholder
{
	color: #B0BABF;
}
::-moz-placeholder
{
	color: #B0BABF;
}
:-ms-input-placeholder
{
	color: #B0BABF;
}
input:-moz-placeholder
{
	color: #B0BABF;
}
input,button,select,textarea
{
	font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
	font-weight: 300;
	outline: none;
	resize: none;
}
input:active,input:focus,button:active,button:focus,select:active,select:focus,textarea:active,textarea:focus
{
	outline: none;
}
figure
{
	margin: 0;
}
select
{
	border: 0 none;
	color: #4EAACC;
	cursor: pointer;
	moz-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	o-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	webkit-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
}
select:hover,select:focus
{
	color: #2e81a0;
}
option
{
	font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
	font-weight: 300;
}
fieldset
{
	border: 0 none;
	margin: 0;
	padding: 0;
	position: relative;
}
a
{
	cursor: pointer;
	text-decoration: none;
}
video
{
	width: 100%;
}
@font-face
{
	font-family: 'icons';
	font-style: normal;
	font-weight: normal;
	src: url(data:application/font-woff;
}
.icon-FDIC:before,.icon-android:before,.icon-bank:before,.icon-card:before,.icon-cash-money:before,.icon-chat:before,.icon-check-mark:before,.icon-state-valid:before,.icon-circle-check:before,.icon-circle-info:before,.icon-circle-minus:before,.icon-circle-plus:before,.icon-circle-question-mark:before,.search-input .close-button:before,.icon-state-invalid:before,.icon-circle-x:before,.icon-circular-double-arrow:before,.icon-circular-single-arrow:before,.icon-clock:before,.icon-close-x:before,.icon-computer-chart:before,.spending-demo-split #BreakdownTable .direction-mark.down:before,.icon-down-arrow:before,.select-input:after,.icon-down-triangle:before,.icon-drag-handle:before,.icon-edit:before,.icon-facebook:before,.icon-faq:before,.icon-geo-pin:before,.icon-gift:before,.icon-goals:before,.icon-guilloche:before,.icon-hamburgler:before,.icon-hi:before,.icon-iphone:before,.icon-left-arrow:before,.icon-logo:before,.icon-mobile-1:before,.icon-mobile-send-check:before,.icon-no-fee:before,.icon-pause:before,.icon-pause-button:before,.icon-phone-call:before,.icon-play:before,.icon-play-button:before,.icon-plus:before,a.navigational-link:before,.navigational-link.link:before,.sidebar-layout>nav a.current-link:before,.sidebar-layout>nav .current-link.link:before,.icon-right-arrow:before,.search-input:before,.icon-search:before,.icon-send-mail:before,.icon-send-money:before,.icon-solid-star:before,.icon-stop-x:before,.icon-support-phone:before,.icon-transfer:before,.icon-twitter:before,.spending-demo-split #BreakdownTable .direction-mark.up:before,.icon-up-arrow:before,.icon-user:before,.icon-visa-card:before,.icon-state-warning:before,.icon-warning:before
{
	display: inline-block;
	font-family: "icons";
	font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	moz-osx-font-smoothing: grayscale;
	text-decoration: inherit;
	text-rendering: optimizeLegibility;
	text-transform: none;
	webkit-font-smoothing: antialiased;
}
.icon-FDIC:before
{
	content: "\f100";
}
.icon-android:before
{
	content: "\f101";
}
.icon-bank:before
{
	content: "\f102";
}
.icon-card:before
{
	content: "\f103";
}
.icon-cash-money:before
{
	content: "\f104";
}
.icon-chat:before
{
	content: "\f105";
}
.icon-check-mark:before
{
	content: "\f106";
}
.icon-state-valid:before,.icon-circle-check:before
{
	content: "\f107";
}
.icon-circle-info:before
{
	content: "\f108";
}
.icon-circle-minus:before
{
	content: "\f109";
}
.icon-circle-plus:before
{
	content: "\f10a";
}
.icon-circle-question-mark:before
{
	content: "\f10b";
}
.search-input .close-button:before,.icon-state-invalid:before,.icon-circle-x:before
{
	content: "\f10c";
}
.icon-circular-double-arrow:before
{
	content: "\f10d";
}
.icon-circular-single-arrow:before
{
	content: "\f10e";
}
.icon-clock:before
{
	content: "\f10f";
}
.icon-close-x:before
{
	content: "\f110";
}
.icon-computer-chart:before
{
	content: "\f111";
}
.spending-demo-split #BreakdownTable .direction-mark.down:before,.icon-down-arrow:before
{
	content: "\f112";
}
.select-input:after,.icon-down-triangle:before
{
	content: "\f113";
}
.icon-drag-handle:before
{
	content: "\f114";
}
.icon-edit:before
{
	content: "\f115";
}
.icon-facebook:before
{
	content: "\f116";
}
.icon-faq:before
{
	content: "\f117";
}
.icon-geo-pin:before
{
	content: "\f118";
}
.icon-gift:before
{
	content: "\f119";
}
.icon-goals:before
{
	content: "\f11a";
}
.icon-guilloche:before
{
	content: "\f11b";
}
.icon-hamburgler:before
{
	content: "\f11c";
}
.icon-hi:before
{
	content: "\f11d";
}
.icon-iphone:before
{
	content: "\f11e";
}
.icon-left-arrow:before
{
	content: "\f11f";
}
.icon-logo:before
{
	content: "\f120";
}
.icon-mobile-1:before
{
	content: "\f121";
}
.icon-mobile-send-check:before
{
	content: "\f122";
}
.icon-no-fee:before
{
	content: "\f123";
}
.icon-pause:before
{
	content: "\f124";
}
.icon-pause-button:before
{
	content: "\f125";
}
.icon-phone-call:before
{
	content: "\f126";
}
.icon-play:before
{
	content: "\f127";
}
.icon-play-button:before
{
	content: "\f128";
}
.icon-plus:before
{
	content: "\f129";
}
a.navigational-link:before,.navigational-link.link:before,.sidebar-layout>nav a.current-link:before,.sidebar-layout>nav .current-link.link:before,.icon-right-arrow:before
{
	content: "\f12a";
}
.search-input:before,.icon-search:before
{
	content: "\f12b";
}
.icon-send-mail:before
{
	content: "\f12c";
}
.icon-send-money:before
{
	content: "\f12d";
}
.icon-solid-star:before
{
	content: "\f12e";
}
.icon-stop-x:before
{
	content: "\f12f";
}
.icon-support-phone:before
{
	content: "\f130";
}
.icon-transfer:before
{
	content: "\f131";
}
.icon-twitter:before
{
	content: "\f132";
}
.spending-demo-split #BreakdownTable .direction-mark.up:before,.icon-up-arrow:before
{
	content: "\f133";
}
.icon-user:before
{
	content: "\f134";
}
.icon-visa-card:before
{
	content: "\f135";
}
.icon-state-warning:before,.icon-warning:before
{
	content: "\f136";
}
body
{
	background-color: white;
	color: #3e474c;
	font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
}
.gotham
{
	font-family: 'Gotham A', 'Gotham B', sans-serif;
	font-weight: 500;
}
.gotham-rounded
{
	font-family: 'Gotham Rounded A', 'Gotham Rounded B';
	font-weight: 300;
}
h6,.h6,blockquote,.normal-type,p,.gotham-ss
{
	font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
	font-weight: 300;
}
pre,code
{
	font-family: "Menlo", "Courier", monospace;
}
h1,h2,h3,h4,h5,h6
{
	line-height: 1.25;
	margin: 0 0 0.5rem 0;
}
h1.inline-heading,h2.inline-heading,h3.inline-heading,h4.inline-heading,h5.inline-heading,h6.inline-heading
{
	display: inline-block;
}
h1,.h1
{
	color: #3e474c;
	font-family: 'Gotham Rounded A', 'Gotham Rounded B';
	font-size: 2rem;
	font-weight: 300;
	margin: 0 0 1rem 0;
}
h1.no-margin,.no-margin.h1
{
	margin-bottom: 0;
}
@media (min-width: 480px)
{
	h1,.h1
	{
		font-size: 3rem;
	}
}
h2,.h2
{
	color: #3e474c;
	font-family: 'Gotham Rounded A', 'Gotham Rounded B';
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 300;
}
@media (min-width: 480px)
{
	h2,.h2
	{
		font-size: 2rem;
	}
}
h3,.h3
{
	color: #3e474c;
	font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
	font-size: 1.125rem;
	font-weight: 300;
	font-weight: 500;
}
@media (min-width: 480px)
{
	h3,.h3
	{
		font-size: 1.25rem;
	}
}
header nav>a,a.header-link,.header-link.link,h4,.h4,.tabbed-nav .tabbed-nav-item-title
{
	font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
	font-size: 0.75rem;
	font-weight: 300;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
}
@media (min-width: 480px)
{
	header nav>a,a.header-link,.header-link.link,h4,.h4,.tabbed-nav .tabbed-nav-item-title
	{
		font-size: 0.8125rem;
	}
}
header nav>a,a.header-link,.header-link.link,h4,.h4
{
	color: #B0BABF;
}
h5,.h5
{
	color: #788991;
	font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 300;
	font-weight: 500;
}
@media (min-width: 480px)
{
	h5,.h5
	{
		font-size: 1.125rem;
	}
}
hgroup
{
	padding-bottom: 2.5rem;
	padding-top: 2.5rem;
}
@media (min-width: 480px)
{
	hgroup
	{
		padding-bottom: 5rem;
		padding-top: 5rem;
	}
}
a,.link
{
	color: #4EAACC;
	moz-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	o-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	webkit-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
}
a:hover,.link:hover,a:focus,.link:focus
{
	color: #2e81a0;
}
a.with-icon:before,.with-icon.link:before
{
	padding-right: 0.4em;
}
a.navigational-link,.navigational-link.link
{
	position: relative;
}
@media (max-width: 480px)
{
	a.navigational-link,.navigational-link.link
	{
		display: inline-block;
	}
}
a.navigational-link:before,.navigational-link.link:before
{
	color: #4EAACC;
	font-size: 0.85rem;
	position: absolute;
	right: -22px;
	top: 2px;
}
a.prominent-link,.prominent-link.link
{
	color: #ED5A48;
}
a.prominent-link:hover,.prominent-link.link:hover
{
	color: #d82b15;
}
footer.dark-footer a:hover,.dark-footer.footer a:hover,a.underlined-link,.underlined-link.link
{
	border-bottom: 1px solid #4EAACC;
	moz-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1),border-color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	o-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1),border-color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	padding-bottom: 2px;
	transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1),border-color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	webkit-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1),border-color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
}
footer.dark-footer a:hover,.dark-footer.footer a:hover,a.underlined-link:hover,.underlined-link.link:hover
{
	border-bottom-color: #2e81a0;
}
header nav>a,a.header-link,.header-link.link
{
	color: #4EAACC;
	display: inline-block;
	line-height: 16px;
	margin-bottom: 0;
	text-decoration: none;
}
header nav>a:hover,header nav>a.current-link,a.header-link:hover,.header-link.link:hover
{
	color: #3e474c;
}
header nav>a.small-header-link,a.header-link.small-header-link,.header-link.small-header-link.link
{
	font-size: 12px;
}
header nav>a.small-header-link.navigational-link:before,a.header-link.small-header-link.navigational-link:before,.header-link.small-header-link.navigational-link.link:before
{
	font-size: 0.75rem;
	line-height: 1.4;
}
header nav>a.prominent-header-link,header nav>a.prominent-link,header nav>a.prominent,a.header-link.prominent-header-link,.header-link.prominent-header-link.link
{
	background-color: #B0BABF;
	border-radius: 3px;
	color: white;
	moz-transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	o-transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	padding: 1em 1.5em;
	transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	webkit-transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header nav>a.prominent-header-link:hover,header nav>a.prominent-link:hover,header nav>a.prominent:hover,header nav>a.prominent-header-link.current-link,a.header-link.prominent-header-link:hover,.header-link.prominent-header-link.link:hover,header nav>a.prominent-header-link:focus,header nav>a.prominent-link:focus,header nav>a.prominent:focus,a.header-link.prominent-header-link:focus,.header-link.prominent-header-link.link:focus
{
	background-color: #a1acb2;
	color: white;
}
header nav>a.underlined-header-link,a.header-link.underlined-header-link,.header-link.underlined-header-link.link
{
	border-bottom: 2px solid #dadfe1;
	moz-transition: "border-color" 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	o-transition: "border-color" 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	padding-bottom: 0.5em;
	transition: "border-color" 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	webkit-transition: "border-color" 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header nav>a.underlined-header-link:hover,header nav>a.underlined-header-link.current-link,a.header-link.underlined-header-link:hover,.header-link.underlined-header-link.link:hover
{
	border-bottom-color: rgba(255,255,255,0.5);
}
address,header .sub-heading,.goal-list-item span,.memo,.light-type
{
	color: #788991;
}
.tiny-type
{
	font-size: 0.625rem;
}
small,.small-type
{
	font-size: 0.86667rem;
	line-height: 1.45;
}
h6,.h6,blockquote,.normal-type,p
{
	font-size: 15px;
	font-weight: 300;
	line-height: 1.5;
}
@media (min-width: 480px)
{
	.large-type
	{
		font-size: 1.13333rem;
		font-weight: 300;
		line-height: 1.6;
	}
}
.fancy-type
{
	color: #B0BABF;
	font-style: italic;
}
.prominent-type
{
	color: #E96E57;
}
.image-type
{
	color: white;
	text-shadow: 0 2px 0 rgba(62,71,76,0.35);
}
.condensed.goal-list-item .info,.left-type
{
	text-align: left;
}
.center-type
{
	text-align: center;
}
.right-type
{
	text-align: right;
}
ul,ol
{
	margin-left: 0;
	padding-left: 20px;
}
ul li,ol li
{
	list-style: none;
	margin-bottom: 1rem;
}
ul li:last-child,ol li:last-child
{
	margin-bottom: 0;
}
footer ul,.footer ul,ul.unstyled-list,ol.unstyled-list
{
	padding-left: 0;
}
footer ul li:before,.footer ul li:before,ul.unstyled-list li:before,ol.unstyled-list li:before
{
	display: none;
}
ol
{
	counter-reset: li;
	list-style-type: decimal;
	margin-left: 20px;
}
ol li
{
	position: relative;
}
ol li:before
{
	background-color: #85B5BB;
	border-radius: 50%;
	color: white;
	content: counter(li);
	counter-increment: li;
	font-size: 11px;
	left: -40px;
	line-height: 1.17;
	padding: 5px 0;
	position: absolute;
	text-align: center;
	top: 1px;
	width: 22px;
}
ul
{
	margin-top: 1.25rem;
}
ul li:before
{
	color: #788991;
	content: "○";
	margin-left: -20px;
	padding-right: 10px;
	position: relative;
	top: -2px;
}
address
{
	font-style: normal;
	line-height: 1.6;
	padding-left: 2em;
}
pre,code
{
	color: #788991;
	font-size: 13px;
}
pre
{
	white-space: pre;
}
pre.code-sample
{
	background-color: #F8F5F0;
	border: 1px solid #dacdb8;
	padding: 12px;
}
time
{
	color: #788991;
}
hr
{
	border: none;
	border-top: 1px solid #dadfe1;
	margin: 2em 0;
	outline: none;
}
hr.no-margin-hr
{
	margin: 0;
}
blockquote
{
	border-left: 5px solid #dadfe1;
	color: #B0BABF;
	font-size: 1em;
	margin: 0;
	padding: 1em 2em;
}
strong
{
	font-weight: 500;
}
.bg-button,.border-button
{
	border-radius: 3px;
	display: inline-block;
	font-size: 0.75rem;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 1rem 1.5rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}
.bg-button
{
	background-color: #4EAACC;
	border: 0;
	color: white;
	moz-transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	o-transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	webkit-transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.bg-button:hover,.bg-button:focus
{
	background-color: #399fc5;
	color: white;
}
.prominent.bg-button
{
	background-color: #ED5A48;
	color: white;
	moz-transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	o-transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	webkit-transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.prominent.bg-button:hover,.prominent.bg-button:focus
{
	background-color: #ea432e;
	color: white;
}
.subdued.bg-button
{
	background-color: #B0BABF;
	color: white;
	moz-transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	o-transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	webkit-transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.subdued.bg-button:hover,.subdued.bg-button:focus
{
	background-color: #a1acb2;
	color: white;
}
.border-button
{
	background-color: transparent;
	border-color: #4EAACC;
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	color: #4EAACC;
	moz-box-sizing: border-box;
	moz-transition: border-color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1),color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	o-transition: border-color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1),color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: border-color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1),color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	webkit-transition: border-color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1),color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.border-button:hover,.border-button:focus
{
	border-color: #389cc1;
	color: #389cc1;
}
.on-white.border-button
{
	background-color: transparent;
}
.white.border-button
{
	border-color: white;
	color: white;
}
.white.border-button:hover,.white.border-button:focus
{
	border-color: #d9d9d9;
	color: #d9d9d9;
}
.prominent.border-button
{
	border-color: #ED5A48;
	color: #ED5A48;
}
.prominent.border-button:hover,.prominent.border-button:focus
{
	border-color: #d42a15;
	color: #d42a15;
}
.on-white.border-button
{
	background-color: white;
}
.control-button
{
	background-color: transparent;
	border: 1px solid #dadfe1;
	border-color: #4EAACC;
	border-radius: 3px;
	color: #4EAACC;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: 500;
	padding: 7px 11px;
	position: relative;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}
.control-button:hover,.control-button:focus
{
	border-color: #2e81a0;
	color: #2e81a0;
}
.prominent.control-button
{
	border-color: #ED5A48;
	color: #ED5A48;
}
.prominent.control-button:hover,.prominent.control-button:focus
{
	border-color: #d42a15;
	color: #d42a15;
}
.subdued.control-button
{
	border-color: #788991;
	color: #788991;
}
.subdued.control-button:hover,.subdued.control-button:focus
{
	border-color: #546268;
	color: #546268;
}
.top-button
{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.stacked-text-with-button-input input:last-child,.stacked-text-with-button-input button:last-child,.visual-asset-grid-item .bg-button,.bottom-button
{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.right-button
{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.color-subtle
{
	color: #B0BABF;
}
.color-medium
{
	color: #788991;
}
.color-dusky
{
	color: #606f76;
}
.color-medium_plus
{
	color: #546066;
}
.color-dark
{
	color: #3e474c;
}
.color-subtle_border
{
	color: #dadfe1;
}
.color-subtle_bg
{
	color: #f6f8f8;
}
.color-subtler_bg
{
	color: #fcfcfd;
}
.color-warm_subtle
{
	color: #F8F5F0;
}
.color-warm_border
{
	color: #dacdb8;
}
.color-gold
{
	color: #c7b38f;
}
.color-credit
{
	color: #54bf98;
}
.color-debit
{
	color: #E96E57;
}
.color-pending
{
	color: #788991;
}
.color-alert
{
	color: #ED5A48;
}
.color-simple_blue
{
	color: #2B5964;
}
.color-simple_blue_dark
{
	color: #36535A;
}
.color-simple_orange
{
	color: #E96E57;
}
.color-simple_orange_dark
{
	color: #D5645A;
}
.color-teal
{
	color: #54BFB5;
}
.color-yellow
{
	color: #F2DA61;
}
.color-orange
{
	color: #EDA55A;
}
.color-red
{
	color: #E37368;
}
.color-blue
{
	color: #4EAACC;
}
.color-pink
{
	color: #E091BE;
}
.color-bright_green
{
	color: #91D174;
}
.color-purple
{
	color: #9483AB;
}
.color-faded_blue
{
	color: #85B5BB;
}
.color-mint
{
	color: #98D3AE;
}
.color-info
{
	color: #4EAACC;
}
.color-valid
{
	color: #54bf98;
}
.color-invalid
{
	color: #E96E57;
}
.color-warning
{
	color: #ecc816;
}
.color-link
{
	color: #4EAACC;
}
.color-link-hover
{
	color: #2e81a0;
}
.bg-color-subtle
{
	background-color: #B0BABF;
}
.bg-color-medium
{
	background-color: #788991;
}
.bg-color-dusky
{
	background-color: #606f76;
}
.bg-color-medium_plus
{
	background-color: #546066;
}
.bg-color-dark
{
	background-color: #3e474c;
}
.bg-color-subtle_border
{
	background-color: #dadfe1;
}
.feature-icon-grid,.next-feature-section,.bg-color-subtle_bg
{
	background-color: #f6f8f8;
}
.bg-color-subtler_bg
{
	background-color: #fcfcfd;
}
.bg-color-warm_subtle
{
	background-color: #F8F5F0;
}
.bg-color-warm_border
{
	background-color: #dacdb8;
}
.bg-color-gold
{
	background-color: #c7b38f;
}
.bg-color-credit
{
	background-color: #54bf98;
}
.bg-color-debit
{
	background-color: #E96E57;
}
.bg-color-pending
{
	background-color: #788991;
}
.bg-color-alert
{
	background-color: #ED5A48;
}
.bg-color-simple_blue
{
	background-color: #2B5964;
}
.bg-color-simple_blue_dark
{
	background-color: #36535A;
}
.bg-color-simple_orange
{
	background-color: #E96E57;
}
.bg-color-simple_orange_dark
{
	background-color: #D5645A;
}
.goal-teal.goal-progress-bar .goal-filled-bar,.goal-teal.goal-token,.teal-goal,.bg-color-teal
{
	background-color: #54BFB5;
}
.goal-yellow.goal-progress-bar .goal-filled-bar,.goal-yellow.goal-token,.yellow-goal,.bg-color-yellow
{
	background-color: #F2DA61;
}
.goal-orange.goal-progress-bar .goal-filled-bar,.goal-orange.goal-token,.orange-goal,.bg-color-orange
{
	background-color: #EDA55A;
}
.goal-red.goal-progress-bar .goal-filled-bar,.goal-red.goal-token,.red-goal,.bg-color-red
{
	background-color: #E37368;
}
.goal-blue.goal-progress-bar .goal-filled-bar,.goal-blue.goal-token,.blue-goal,.bg-color-blue
{
	background-color: #4EAACC;
}
.goal-pink.goal-progress-bar .goal-filled-bar,.goal-pink.goal-token,.pink-goal,.bg-color-pink
{
	background-color: #E091BE;
}
.goal-bright_green.goal-progress-bar .goal-filled-bar,.goal-bright_green.goal-token,.bright_green-goal,.bg-color-bright_green
{
	background-color: #91D174;
}
.goal-purple.goal-progress-bar .goal-filled-bar,.goal-purple.goal-token,.purple-goal,.bg-color-purple
{
	background-color: #9483AB;
}
.goal-faded_blue.goal-progress-bar .goal-filled-bar,.goal-faded_blue.goal-token,.faded_blue-goal,.bg-color-faded_blue
{
	background-color: #85B5BB;
}
.goal-mint.goal-progress-bar .goal-filled-bar,.goal-mint.goal-token,.mint-goal,.bg-color-mint
{
	background-color: #98D3AE;
}
.bg-color-info
{
	background-color: #4EAACC;
}
.bg-color-valid
{
	background-color: #54bf98;
}
.bg-color-invalid
{
	background-color: #E96E57;
}
.bg-color-warning
{
	background-color: #ecc816;
}
.bg-color-link
{
	background-color: #4EAACC;
}
.bg-color-link-hover
{
	background-color: #2e81a0;
}
.button-input,.select-input select,.checkbox-input,.labeled-input,input,textarea
{
	background: white;
	border: 1px solid #dadfe1;
	border-radius: 3px;
	color: #3e474c;
	font-size: 0.9rem;
	font-weight: 300;
	padding: 15px 17px;
	padding-bottom: 12px;
	padding-top: 12px;
}
@media (max-width: 480px)
{
	.button-input,.select-input select,.checkbox-input,.labeled-input,input,textarea
	{
		width: 100%;
	}
}
@media (min-width: 480px)
{
	.button-input,.select-input select,.checkbox-input,.labeled-input,input,textarea
	{
		padding-bottom: 15px;
		padding-top: 15px;
	}
}
[disabled].button-input,.select-input select[disabled],[disabled].checkbox-input,[disabled].labeled-input,input[disabled],textarea[disabled],.disabled.button-input,.select-input select.disabled,.disabled.checkbox-input,.disabled.labeled-input,input.disabled,textarea.disabled
{
	opacity: 0.5;
}
input[type="checkbox"]
{
	appearance: checkbox;
	moz-appearance: checkbox;
	ms-appearance: checkbox;
	webkit-appearance: checkbox;
}
.button-input
{
	color: #4EAACC;
	moz-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1),background-color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	o-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1),background-color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1),background-color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	webkit-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1),background-color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.button-input:hover,.button-input:focus,.button-input:active
{
	background-color: #fcfcfd;
	color: #2e81a0;
}
.primary-button-input.button-input
{
	background-color: #4EAACC;
	border: 0;
	color: white;
	moz-transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	o-transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	webkit-transition: background 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.primary-button-input.button-input:hover,.primary-button-input.button-input:focus
{
	background-color: #399fc5;
	color: white;
}
.wide-button-input.button-input
{
	padding-left: 3.5em;
	padding-right: 3.5em;
}
.select-input:hover:after
{
	color: #2e81a0;
}
.labeled-input.select-input select
{
	border: 0;
}
.labeled-input.select-input:after
{
	bottom: 17px;
	top: auto;
}
.select-input select
{
	appearance: none;
	color: #4EAACC;
	moz-appearance: none;
	moz-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	ms-appearance: none;
	o-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	padding-right: 45px;
	text-indent: 0.01px;
	text-overflow: '';
	transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	webkit-appearance: none;
	webkit-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.select-input select:hover,.select-input select:focus
{
	color: #2e81a0;
}
.select-input:after
{
	color: #4EAACC;
	font-size: 0.55rem;
	margin-top: -4px;
	pointer-events: none;
	position: absolute;
	right: 20px;
	top: 50%;
	z-index: 0;
}
.checkbox-input
{
	color: #4EAACC;
	moz-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	o-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	webkit-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.checkbox-input:hover,.checkbox-input:focus
{
	color: #2e81a0;
}
.checkbox-input span
{
	margin-left: 5px;
}
.checkbox-input input
{
	position: relative;
	top: -2px;
}
.labeled-input span
{
	color: #788991;
	display: block;
	font-size: 0.7rem;
	font-weight: 500;
	padding: 10px 17px 0;
}
.full-input.select-input select,.labeled-input input,.full-bleed-form .full-input,.full-bleed-form .text-with-button-input>*:first-child,.full-bleed-form .address-input>*:first-child,.full-input
{
	border-radius: 0;
	border-top: 0;
	display: block;
	width: 100%;
}
.labeled-input span,.labeled-input input
{
	padding: 0;
}
.labeled-input input
{
	border: none;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding-top: 10px;
}
.text-with-button-input,.stacked-text-with-button-input
{
	display: inline-flex;
	display: -webkit-inline-flex;
	position: relative;
}
.text-with-button-input input:first-child
{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.text-with-button-input input:last-child
{
	border-bottom-left-radius: 0;
	border-left: 0 none;
	border-top-left-radius: 0;
	padding: 15px 17px;
}
.stacked-text-with-button-input
{
	flex-direction: column;
	webkit-flex-direction: column;
}
.stacked-text-with-button-input input:first-child
{
	border-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.address-input
{
	border-radius: 3px;
	border-top: 1px solid #dadfe1;
}
.address-input *:first-child
{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.address-input *:last-child
{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.address-input input
{
	border-radius: 0;
	border-top: 0;
}
.address-input .address-input-street,.address-input .address-input-second,.address-input .address-input-zip
{
	width: 100%;
}
.address-input .address-input-state
{
	float: right;
	width: 80px;
}
.address-input .address-input-city
{
	border-right: none;
	float: left;
	width: calc(100% - 80px);
}
.search-input:before,.search-input .close-button
{
	font-size: 16px;
	position: absolute;
	top: 50%;
}
.search-input:before
{
	color: #788991;
	left: 15px;
	margin-top: -8px;
}
.search-input .button-input,.search-input .select-input select,.select-input .search-input select,.search-input .checkbox-input,.search-input .labeled-input,.search-input input,.search-input textarea
{
	min-width: 250px;
	padding-left: 40px;
	padding-right: 40px;
}
@media (min-width: 480px)
{
	.search-input .button-input,.search-input .select-input select,.select-input .search-input select,.search-input .checkbox-input,.search-input .labeled-input,.search-input input,.search-input textarea
	{
		min-width: 300px;
	}
}
.search-input .close-button
{
	color: #788991;
	cursor: pointer;
	margin-top: -9px;
	moz-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	o-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	right: 15px;
	transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	webkit-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.search-input .close-button:hover
{
	color: #546268;
}
.half-input,.third-input
{
	border-left: 1px solid #dadfe1;
	border-right: 0;
	float: left;
}
.half-input:last-child,.third-input:last-child
{
	border-right: 1px solid #dadfe1;
}
.half-input
{
	width: 50%;
}
.third-input
{
	width: 33.333333%;
}
.third-input:first-child
{
	width: 33.335%;
}
.select-input,.checkbox-input,.labeled-input,.address-input,.search-input
{
	display: inline-block;
	position: relative;
}
.full-bleed-form .text-with-button-input>*:last-child,.full-bleed-form legend,.full-bleed-form .legend,.full-bleed-form .half-input,.full-bleed-form .third-input
{
	border-radius: 0;
	border-top: 0;
}
.full-bleed-form fieldset
{
	margin-top: 2rem;
}
.full-bleed-form fieldset:first-of-type
{
	margin-top: 0;
}
.full-bleed-form fieldset>*:first-child
{
	border-top: 1px solid #dadfe1;
}
.full-bleed-form .text-with-button-input
{
	display: flex;
	display: -webkit-flex;
}
.full-bleed-form .text-with-button-input>*:first-child
{
	flex: 1;
	webkit-flex: 1;
}
.full-bleed-form .address-input>*:first-child
{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
legend,.legend
{
	background-color: #f6f8f8;
	border: 1px solid #dadfe1;
	color: #3e474c;
	font-family: 'Gotham A', 'Gotham B', sans-serif;
	font-size: 0.7rem;
	font-weight: 500;
	padding: 3px 17px;
	width: 100%;
}
@media (min-width: 480px) and (max-width: 1024px)
{
	.grid-3,footer .footer-links,.footer .footer-links,.grid-4
	{
		overflow: hidden;
		zoom: 1;
	}
	.grid-3>*,footer .footer-links>*,.footer .footer-links>*,.grid-4>*
	{
		float: left;
		margin-right: 6.97674%;
		width: 46.51163%;
	}
	.grid-3>*:nth-of-type(2n),footer .footer-links>*:nth-of-type(2n),.footer .footer-links>*:nth-of-type(2n),.grid-4>*:nth-of-type(2n)
	{
		float: right;
		margin-right: 0;
	}
	.grid-3>*:nth-of-type(2n+3),footer .footer-links>*:nth-of-type(2n+3),.footer .footer-links>*:nth-of-type(2n+3),.grid-4>*:nth-of-type(2n+3)
	{
		clear: both;
	}
}
.grid-2
{
	overflow: hidden;
	zoom: 1;
}
.grid-2>*
{
	float: left;
	margin-right: 6.97674%;
	width: 46.51163%;
}
.grid-2>*:nth-of-type(2n)
{
	float: right;
	margin-right: 0;
}
.grid-2>*:nth-of-type(2n+3)
{
	clear: both;
}
@media (min-width: 1024px)
{
	.grid-3
	{
		overflow: hidden;
		zoom: 1;
	}
	.grid-3>*:nth-of-type(n)
	{
		float: left;
		margin-right: 4.54545%;
		width: 30.30303%;
	}
	.grid-3>*:nth-of-type(2n)
	{
		float: left;
		margin-right: 4.54545%;
		width: 30.30303%;
	}
	.grid-3>*:nth-of-type(2n+1)
	{
		clear: none;
	}
	.grid-3>*:nth-of-type(3n)
	{
		float: right;
		margin-right: 0;
	}
	.grid-3>*:nth-of-type(3n+4)
	{
		clear: both;
	}
}
@media (min-width: 1024px)
{
	footer .footer-links,.footer .footer-links,.grid-4
	{
		overflow: hidden;
		zoom: 1;
	}
	footer .footer-links>*:nth-of-type(n),.footer .footer-links>*:nth-of-type(n),.grid-4>*:nth-of-type(n)
	{
		float: left;
		margin-right: 3.37079%;
		width: 22.47191%;
	}
	footer .footer-links>*:nth-of-type(2n),.footer .footer-links>*:nth-of-type(2n),.grid-4>*:nth-of-type(2n)
	{
		float: left;
		margin-right: 3.37079%;
		width: 22.47191%;
	}
	footer .footer-links>*:nth-of-type(2n+1),.footer .footer-links>*:nth-of-type(2n+1),.grid-4>*:nth-of-type(2n+1)
	{
		clear: none;
	}
	footer .footer-links>*:nth-of-type(4n),.footer .footer-links>*:nth-of-type(4n),.grid-4>*:nth-of-type(4n)
	{
		float: right;
		margin-right: 0;
	}
	footer .footer-links>*:nth-of-type(4n+5),.footer .footer-links>*:nth-of-type(4n+5),.grid-4>*:nth-of-type(4n+5)
	{
		clear: both;
	}
}
*
{
	box-sizing: border-box;
	moz-box-sizing: border-box;
}
section,.section
{
	padding-bottom: 2.5rem;
	padding-top: 2.5rem;
}
@media (min-width: 480px)
{
	section,.section
	{
		padding-bottom: 5rem;
		padding-top: 5rem;
	}
}
.feature-icon-grid,section.narrow-section,.narrow-section.section
{
	padding-bottom: 2.5rem;
	padding-top: 2.5rem;
}
section .section-headline,.section .section-headline
{
	margin-bottom: 2.5rem;
}
@media (max-width: 1024px)
{
	section .section-headline,.section .section-headline
	{
		text-align: center;
	}
}
.horizontal-center
{
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	webkit-justify-content: center;
}
.vertical-center
{
	align-items: center;
	display: flex;
	display: -webkit-flex;
	webkit-align-items: center;
}
.absolute-center
{
	align-items: center;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	webkit-align-items: center;
	webkit-justify-content: center;
}
.column-center
{
	align-items: center;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	webkit-align-items: center;
	webkit-flex-direction: column;
}
.container,.grid
{
	margin-left: auto;
	margin-right: auto;
	max-width: 1400px;
	overflow: hidden;
	padding-left: 2rem;
	padding-right: 2rem;
	position: relative;
	zoom: 1;
}
.container:after,.grid:after
{
	clear: both;
	content: " ";
	display: block;
}
@media (min-width: 480px)
{
	.container,.grid
	{
		padding-left: 4rem;
		padding-right: 4rem;
	}
}
.no-padding.container,.no-padding.grid
{
	padding-left: 0;
	padding-right: 0;
}
.omega
{
	float: right;
	margin-right: 0;
}
.clearfix:after
{
	clear: both;
	content: " ";
	display: table;
}
.nowrap
{
	white-space: nowrap;
}
table,.table-container
{
	border: 1px solid #dadfe1;
	border-radius: 3px;
	margin: 10px 0;
}
table table,.table-container table
{
	border: none;
	border-radius: 0;
	margin: 0;
	width: 100%;
}
table thead,.table-container thead
{
	background-color: #f6f8f8;
}
table tr,.table-container tr
{
	border-bottom: 1px solid #dadfe1;
}
table th,.table-container th
{
	font-weight: 300;
	text-align: left;
}
table th,.table-container th,table td,.table-container td
{
	padding: 15px;
}
table th:not(:last-child),.table-container th:not(:last-child),table td:not(:last-child),.table-container td:not(:last-child)
{
	border-right: 1px solid #dadfe1;
}
.small-icon
{
	font-size: 0.8rem;
}
.normal-icon
{
	font-size: 1.25rem;
}
.tabbed-nav .tabbed-nav-item-icon,.support-channels .support-channel-icon,.large-icon
{
	font-size: 1.9rem;
}
.icon-state-valid
{
	color: #54bf98;
}
.icon-state-invalid
{
	color: #E96E57;
}
.icon-state-warning
{
	color: #ecc816;
}
.goal-token,.goal-amount
{
	color: white;
	font-size: 15px;
	text-shadow: 0 2px rgba(62,71,76,0.4);
}
.goal-teal.goal-progress-bar .goal-filled-bar,.goal-teal.goal-token,.teal-goal
{
	border-color: #33877f;
}
.goal-yellow.goal-progress-bar .goal-filled-bar,.goal-yellow.goal-token,.yellow-goal
{
	border-color: #e7c413;
}
.goal-orange.goal-progress-bar .goal-filled-bar,.goal-orange.goal-token,.orange-goal
{
	border-color: #d67917;
}
.goal-red.goal-progress-bar .goal-filled-bar,.goal-red.goal-token,.red-goal
{
	border-color: #cc3526;
}
.goal-blue.goal-progress-bar .goal-filled-bar,.goal-blue.goal-token,.blue-goal
{
	border-color: #2b7996;
}
.goal-pink.goal-progress-bar .goal-filled-bar,.goal-pink.goal-token,.pink-goal
{
	border-color: #cc4b95;
}
.goal-bright_green.goal-progress-bar .goal-filled-bar,.goal-bright_green.goal-token,.bright_green-goal
{
	border-color: #60b13b;
}
.goal-purple.goal-progress-bar .goal-filled-bar,.goal-purple.goal-token,.purple-goal
{
	border-color: #67567f;
}
.goal-faded_blue.goal-progress-bar .goal-filled-bar,.goal-faded_blue.goal-token,.faded_blue-goal
{
	border-color: #538d94;
}
.goal-mint.goal-progress-bar .goal-filled-bar,.goal-mint.goal-token,.mint-goal
{
	border-color: #59b87d;
}
.teal-goal-spent
{
	color: #3a9c92;
}
.goal-teal.goal-progress-bar .goal-spent-bar
{
	background-color: #3a9c92;
	border-color: #25645e;
}
.yellow-goal-spent
{
	color: #edcd28;
}
.goal-yellow.goal-progress-bar .goal-spent-bar
{
	background-color: #edcd28;
	border-color: #ba9e0f;
}
.orange-goal-spent
{
	color: #e78723;
}
.goal-orange.goal-progress-bar .goal-spent-bar
{
	background-color: #e78723;
	border-color: #ab6013;
}
.red-goal-spent
{
	color: #d94334;
}
.goal-red.goal-progress-bar .goal-spent-bar
{
	background-color: #d94334;
	border-color: #a32a1e;
}
.blue-goal-spent
{
	color: #318aab;
}
.goal-blue.goal-progress-bar .goal-spent-bar
{
	background-color: #318aab;
	border-color: #205b70;
}
.pink-goal-spent
{
	color: #d361a2;
}
.goal-pink.goal-progress-bar .goal-spent-bar
{
	background-color: #d361a2;
	border-color: #b4337d;
}
.bright_green-goal-spent
{
	color: #6dc246;
}
.goal-bright_green.goal-progress-bar .goal-spent-bar
{
	background-color: #6dc246;
	border-color: #4c8d2f;
}
.purple-goal-spent
{
	color: #756190;
}
.goal-purple.goal-progress-bar .goal-spent-bar
{
	background-color: #756190;
	border-color: #504262;
}
.faded_blue-goal-spent
{
	color: #5e9da5;
}
.goal-faded_blue.goal-progress-bar .goal-spent-bar
{
	background-color: #5e9da5;
	border-color: #416f75;
}
.mint-goal-spent
{
	color: #6dc18c;
}
.goal-mint.goal-progress-bar .goal-spent-bar
{
	background-color: #6dc18c;
	border-color: #439e65;
}
.goal-list-item
{
	background-color: white;
	border: 1px solid #dadfe1;
	cursor: pointer;
	moz-transition: background-color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	o-transition: background-color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	padding: 30px 0;
	position: relative;
	text-align: center;
	transition: background-color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	webkit-transition: background-color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.goal-list-item:hover
{
	background-color: #f6f8f8;
}
.goal-list-item+.goal-list-item
{
	border-top: 0;
}
.goal-list-item .goal-token
{
	margin-bottom: 15px;
}
.condensed.goal-list-item
{
	padding: 13px 17px;
}
.condensed.goal-list-item:after
{
	clear: both;
	content: " ";
	display: table;
}
.condensed.goal-list-item .info
{
	float: left;
	width: 65%;
}
.condensed.goal-list-item .info p,.condensed.goal-list-item .info span
{
	margin: 0;
}
.condensed.goal-list-item span
{
	margin-top: 6px;
	max-width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.condensed.goal-list-item .goal-token
{
	float: right;
	margin-bottom: 0;
	margin-top: 3px;
}
.goal-bar
{
	border: 1px solid;
	height: 15px;
	left: -1px;
	position: absolute;
	top: -1px;
}
.goal-progress-bar
{
	background-color: #fcfcfd;
	border: 1px solid #dadfe1;
	box-shadow: 0 2px 0 rgba(62,71,76,0.03333);
	display: inline-block;
	height: 15px;
	position: relative;
	vertical-align: middle;
}
.full-width.goal-progress-bar
{
	display: block;
	width: 100%;
}
.goal-filled-bar
{
	z-index: 2;
}
.goal-spent-bar
{
	z-index: 3;
}
.goal-token
{
	border: 1px solid;
	border-radius: 3px;
	box-shadow: 0 3px 4px rgba(176,186,191,0.255);
	display: inline-block;
	padding: 7px 10px 6px;
	text-align: center;
}
header
{
	background: #f6f8f8;
	border-bottom: 1px solid #dadfe1;
	padding-bottom: 30px;
	padding-top: 30px;
	position: relative;
	z-index: 2;
}
@media (max-width: 768px)
{
	header .header-content
	{
		align-items: center;
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		webkit-align-items: center;
		webkit-flex-direction: column;
	}
}
@media (min-width: 768px)
{
	header .header-content
	{
		align-items: center;
		display: flex;
		display: -webkit-flex;
		justify-content: space-between;
		webkit-align-items: center;
		webkit-justify-content: space-between;
	}
}
header .logo-and-title
{
	align-items: center;
	align-self: flex-start;
	display: flex;
	display: -webkit-flex;
	margin-top: 2px;
	webkit-align-items: center;
	webkit-align-self: flex-start;
	white-space: nowrap;
}
@media (max-width: 768px)
{
	header .logo-and-title
	{
		margin-left: auto;
		margin-right: auto;
	}
}
header .title,header .logo+*
{
	color: #B0BABF;
	margin-bottom: 0;
	margin-left: 1rem;
}
header .sub-heading
{
	font-size: 0.86667rem;
	letter-spacing: 1px;
	line-height: 1.45;
	position: absolute;
}
header nav
{
	align-items: center;
	display: flex;
	display: -webkit-flex;
	webkit-align-items: center;
}
@media (max-width: 768px)
{
	header nav
	{
		justify-content: space-between;
		margin-top: 2.5rem;
		webkit-justify-content: space-between;
		width: 100%;
	}
}
header nav>a
{
	color: #788991;
}
header nav>a.current-link
{
	cursor: default;
}
@media (min-width: 768px)
{
	header nav>a
	{
		margin-left: 3rem;
		margin-right: 0;
	}
	header nav>a:first-child
	{
		margin-left: 0;
	}
	header nav>a.prominent-link,header nav>a.header-nav-main-link
	{
		margin-left: 6rem;
	}
}
.hero-with-image.hero header,header.transparent-header
{
	background: transparent;
	border-bottom-color: rgba(255,255,255,0.25);
}
.hero-with-image.hero header .logo-and-title,header.transparent-header .logo-and-title
{
	margin-top: 0;
}
.hero-with-image.hero header .logo,header.transparent-header .logo
{
	font-size: 25px;
	text-shadow: 0 2px rgba(62,71,76,0.4);
}
@media (min-width: 480px)
{
	.hero-with-image.hero header .logo,header.transparent-header .logo
	{
		font-size: 33px;
		margin-top: 0;
	}
}
.hero-with-image.hero header .title,header.transparent-header .title,.hero-with-image.hero header .logo+*,header.transparent-header .logo+*
{
	color: white;
	text-shadow: 0 2px rgba(62,71,76,0.4);
}
.hero-with-image.hero header nav>a,header.transparent-header nav>a
{
	color: white;
	moz-transition: opacity 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	o-transition: opacity 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	position: relative;
	text-shadow: 0 2px rgba(62,71,76,0.4);
	transition: opacity 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	webkit-transition: opacity 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hero-with-image.hero header nav>a:hover,header.transparent-header nav>a:hover,.hero-with-image.hero header nav>a.current-link,header.transparent-header nav>a.current-link
{
	opacity: 0.8;
}
.hero-with-image.hero header nav>a.prominent-link,header.transparent-header nav>a.prominent-link
{
	background-color: white;
	border-bottom: 0 none;
	box-shadow: 0 2px 0 rgba(62,71,76,0.03333);
	color: #E96E57;
	text-shadow: none;
}
.hero-with-image.hero header nav>a.prominent-link:hover,header.transparent-header nav>a.prominent-link:hover
{
	color: #e65b40;
}
header.white-header
{
	background-color: white;
}