{% extends 'base.html' %}
{% load static %}

{% block title %}
    Recruiters - GatorTech
{% endblock %}

{% block content %}
<section id="banner" class="wow fadeInUp img.flip hero-image">
    <div class="container">
        <div class="row">
            <center>
            <div class="col-md-12 col-sm-12">
                <div class="block">
                    <center><img src="{% static 'images/gatortechlogo.png' %}" width="300px" height="115px" class="img-responsive"></center>
                    <p>
                        Recruiters, we want to give you the best experience with our members.
                        <br>
                        Check out how you can plug in below!
                    </p>

                    <ul class="download-btn">
                        <li>
                            <a href="mailto:robertdcamp@ufl.edu?Subject=Recruitment%20with%20GatorTech" class="btn btn-default btn-apple"><i class="fa fa-pencil"></i>Email us!</a>
                        </li>
                    </ul>

                </div>
            </div>
            </center>
        </div>
    </div>
</section>
<section id="service">
    <div class="container">
        <div class="service-wrapper">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="block wow fadeInRight">
                        <div class="icon">
                           <i class="fa fa-circle-o"></i>
                        </div>

                        <h3>Sponsor Level Package - $100</h3>
                        <p>Printed Logo on T-Shirts ($50)</p>
                        <p>Logo on Website - ($50)</p>
                        <p>Logo on Banner &amp; Sponsor a Meeting ($25)</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="block wow fadeInRight">
                        <div class="icon">
                           <i class="fa fa-circle"></i>
                        </div>
                        <h3>Partner Level Package - $150</h3>
                        <p>Lead a General Body Meeting ($100)</p>
                        <p>Lead a Technical Workshop - ($50)</p>
                        <p>Company Slack Channel ($25)</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="block wow fadeInRight">
                        <div class="icon">
                           <i class="fa fa-certificate"></i>
                        </div>
                        <h3>Gold Level Package - $200</h3><br>
                        <p>Includes all of Sponsor Level &amp; Partner Level</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="block wow fadeInRight">
                        <div class="icon">
                           <i class="fa fa-pencil-square-o"></i>
                        </div>
                        <h3>Customize Your Package!</h3><br>
                        <p>Choose which individual items you want from these packages and we'll accommodate accordingly.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}
