{% extends 'base.html' %}

{% block title %}
    Upcoming Events - GatorTech
{% endblock %}

{% block content %}
<section id="resource" style="padding: 70px 0 40px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInLeft" align="center">
                <h2 class="title">Events</h2>
                <p>See our current and past events </p>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeInRight">
                    <iframe src={{"https://calendar.google.com/calendar/embed?src="|add:calendar.calendar_id|add:"&ctz=America/New_York"}} style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>  
        </div>
    </div>"
</section>
{% endblock %}