{% extends 'base.html' %}

{% block title %}
    Update Events
{% endblock %}

{% block content %}
    <section id="resource" style="padding: 70px 0 40px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInLeft" align="center">
                    <p id="eventupdater">Updating events</p>
                </div>
            </div>
        </div>
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '1800707173493661',
                    xfbml      : true,
                    version    : 'v2.8'
                });
                FB.AppEvents.logPageView();

                FB.login(function(response) {
                    if (response.status === 'connected') {
                        FB.api('gatortechuf/events?limit=999', function(response) {
                            $.ajax({
                                url: "{% url 'events:event_updater' %}",
                                type: "POST",
                                dataType: "text",
                                data: {
                                    csrfmiddlewaretoken: '{{ csrf_token }}',
                                    events: JSON.stringify({events: response.data})
                                },
                            })
                            .done(function(update_data) {
                                $("#eventupdater").text("Events updated");
                            })
                        });
                    }
                });
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        </script>
    </section>
{% endblock %}
